.brand-filters {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__input {
    display: flex;
    flex-direction: row;
    gap: 5px;
  } 

  &__submit {
    width: 200px;
    background-color: rgb(97, 193, 97);
    color: white;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
  }

  &__submit:hover {
    background-color: green;
  }

  &__reset {
    border: none;
    color: white;
    background: none;
    cursor: pointer;
    height: 40px;
    width: 200px;
    position: relative;
    text-decoration: underline;
  }

  &__reset:hover {
    color: gray;
  }

}