.main-page {
  max-width: 1920px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__wrapper {
    display: flex;
    gap: 20px;
  }

  &__products-order {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }

  &__products-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
  }

  &__filters {
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
  }

  &__pagination {
    margin: 0 auto;

    ul {
      display: flex;
      flex-direction: row;
      gap: 20px;
      align-items: center;
    }

    li {
      list-style-type: none;
      cursor: pointer;
      font-family: inherit;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: white;
      outline: none;
    }

    li.previous,
    li.next {
      color: white;
    }

    li.selected a{
      display: flex;
      width: 35px;
      height: 35px;
      align-items: center;
      justify-content: center;
      background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
      border-radius: 50%;
    }

  }
}

@media (max-width:1030px) {
  .main-page {
    &__products-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width:1280px) {
  .main-page {
    &__wrapper {
      flex-direction: column;
    }
  }
}


@media (max-width:700px) {
  .main-page {
    &__products-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}